---
const { lang } = Astro.props;
import Contact from "./contact/contact.astro";
import Proyectos from "./proyectos.astro";
import Skills from "./skills.jsx";
import Footers from "./footer/footers.astro";
import "aos/dist/aos.css";
---

<main
  class="pt-24 flex flex-col items-center h-full pl-2 md:pl-0 overflow-x-hidden"
>
  <div
    class="w-full md:w-[700px] mt-4 md:mt-20 lg:32 lg:w-[1000px] pl-1 md:pl-5 border-l-2 dark:border-white border-black"
  >
    <h1
      data-aos="zoom-in-up"
      data-aos-delay="400"
      class="text-3xl mt-1 md:mt-4 md:text-5xl font-bold"
      id="h1d"
    >
      {lang.main.title}
    </h1>
    <p
      data-aos="fade-right"
      data-aos-delay="500"
      class="mt-4 md:mt-5 max-w-[600px] leading-7 p-1"
      set:html={lang.main.text}
    />
    <Proyectos lang={lang} />

    <Skills lang={lang} client:load />

    <Contact lang={lang} />
    <div class="mt-[200px]"></div>
  </div>
  <Footers />
</main>

<style></style>

<script>
  import AOS from "aos";
  AOS.init();
</script>
